<html> 
<head> 
	<title>success</title> 
</head> 
<body> 
	<p>File uploaded successfully</p> 
	<p>File Name: {{name}}</p> 
	<p>G string : {{gstring}}</p>
	<p> Results follow:</p>
	{% for para in osstring %}
		<p>{{para}}</p>
	{% endfor %}
	{% for para in ostring %}
		<p>{{para}}</p>
	{% endfor %}
	{% for para in opstring %}
		<p>{{para}}</p>
	{% endfor %}
</body> 
</html>
